<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Title }}{{ end }}"/>
    <link rel="canonical" href="{{ .Permalink | absURL }}" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Title }}{{ end }}" />
    <meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}{{ if .IsHome }}{{ .Site.Params.Tagline }}{{ else }} | {{ .Site.Title }}{{ end }}" />
    <meta name="twitter:site" content="{{ .Site.Params.twitter }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.twitter }}" />
    <!-- OG data -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
    <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}{{ if .IsHome }}{{ .Site.Params.Tagline }}{{ else }} | {{ .Site.Title }}{{ end }}" />
    <meta property="og:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    {{ if isset .Params "date" }}<meta property="article:published_time" content="{{ time .Date }}" />{{ end }}

    {{ if .IsHome }}
    <script type="application/ld+json">
    { 
      "@context": "http://schema.org", 
      "@type": "WebSite", 
      "url": "{{ .Permalink }}", 
      "name": "{{ .Site.Title }}",
       "author": {
          "@type": "Person",
          "name": "{{ .Site.Params.author }}"
        },
      "description": "{{ .Site.Params.description }}",
    }
    </script>
    {{ end }}

    {{ if .IsPage }}
        <script type="application/ld+json">
        {{if or (eq .Section "techlog") (eq .Section "note") (eq .Section "daily") }}
        { 
            "@context": "http://schema.org", 
            "@type": "BlogPosting",
            "headline": "{{ .Title }}",
            "url": "{{ .Permalink }}",
            "datePublished": "{{ time .Date }}",
            "description": "{{ .Title }}",
            "author": {
                "@type": "Person",
                "name": "{{ .Site.Params.author }}"
            }
         }
        {{ else }}
        { 
          "@context": "http://schema.org", 
          "@type": "WebSite", 
          "url": "{{ .Permalink }}", 
          "name": "{{ .Title }}",
           "author": {
              "@type": "Person",
              "name": "{ .Site.Params.author }}"
            },
          "description": "{ .Site.Params.description }}",
        }
        {{ end }}
        </script>
    {{ end }}