#isso-thread {
    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    a {
      text-decoration: none;
    }
    padding: 0;
    margin: 0;
    > h4 {
      color: #555;
      font-weight: bold;
    }
    .textarea {
      min-height: 58px;
      outline: 0;
      &.placeholder {
        color: #AAA;
      }
    }
  }
  
  .isso-comment {
    max-width: 68em;
    padding-top: 0.95em;
    margin: 0.95em auto;
    &:not(:first-of-type) {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
  
  .isso-follow-up .isso-comment {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .isso-comment > div.avatar {
    display: block;
    float: left;
    width: 7%;
    margin: 3px 15px 0 0;
  }
  
  .isso-postbox > .avatar {
    display: block;
    float: left;
    width: 7%;
    margin: 3px 15px 0 0;
    float: left;
    margin: 5px 10px 0 5px;
    width: 48px;
    height: 48px;
    overflow: hidden;
  }
  
  .isso-comment > div.avatar > svg, .isso-postbox > .avatar > svg {
    max-width: 48px;
    max-height: 48px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .isso-comment {
    > div.text-wrapper {
      display: block;
    }
    .isso-follow-up {
      padding-left: calc(7% + 20px);
    }
    > div.text-wrapper > {
      .isso-comment-header, .isso-comment-footer {
        font-size: 0.95em;
      }
      .isso-comment-header {
        font-size: 0.85em;
        .spacer {
          padding: 0 6px;
          color: gray !important;
          font-weight: normal;
          text-shadow: none !important;
        }
        a.permalink, .note2, a.parent {
          color: gray !important;
          font-weight: normal;
          text-shadow: none !important;
        }
        .spacer:hover, a.permalink:hover, .note:hover, a.parent:hover {
          color: #606060 !important;
        }
        .note {
          color: #E64320;
          float: right;
        }
        .author {
          font-weight: bold;
          color: #555;
        }
      }
      .textarea-wrapper .textarea {
        margin-top: 0.2em;
      }
      div {
        &.text {
          p {
            margin-top: 0.2em;
            &:last-child {
              margin-bottom: 0.2em;
            }
          }
          h1, h2, h3, h4, h5, h6 {
            font-size: 130%;
            font-weight: bold;
          }
        }
        &.textarea-wrapper .textarea {
          width: 100%;
          border: 1px solid #f0f0f0;
          border-radius: 2px;
          box-shadow: 0 0 2px #888;
        }
      }
      .isso-comment-footer {
        font-size: 0.80em;
        color: gray !important;
        clear: left;
        a {
          font-weight: bold;
          text-decoration: none;
          &:hover {
            color: #111111 !important;
            text-shadow: #aaaaaa 0 0 1px !important;
          }
        }
        > a {
          position: relative;
          top: 0.2em;
          + a {
            padding-left: 1em;
          }
        }
        .votes {
          color: gray;
        }
        .upvote svg, .downvote svg {
          position: relative;
          top: 0.2em;
        }
      }
    }
    .isso-postbox {
      margin-top: 0.8em;
    }
    &.isso-no-votes span.votes {
      display: none;
    }
  }
  
  .isso-postbox {
    max-width: 68em;
    margin: 0 auto 2em;
    > .form-wrapper {
      display: block;
      padding: 0;
      > .auth-section {
        display: block;
        .post-action {
          display: block;
        }
      }
      .textarea {
        margin: 0 0 .3em;
        padding: .4em .8em;
        border-radius: 3px;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      }
    }
  }
  
  #isso-thread {
    .textarea:focus, input:focus {
      border-color: rgba(0, 0, 0, 0.8);
    }
  }
  
  .isso-postbox > .form-wrapper > .auth-section {
    .input-wrapper {
      display: inline-block;
      position: relative;
      max-width: 25%;
      margin: 0;
      input {
        padding: .3em 10px;
        max-width: 100%;
        border-radius: 3px;
        background-color: #fff;
        line-height: 1.4em;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        text-transform: none;
        height: 34px;
      }
    }
    .post-action {
      display: inline-block;
      float: right;
      margin: 0;
    }
  }